<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carbook - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/sitetema/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/sitetema/css/animate.css">

    <link rel="stylesheet" href="~/sitetema/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/sitetema/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/sitetema/css/magnific-popup.css">

    <link rel="stylesheet" href="~/sitetema/css/aos.css">

    <link rel="stylesheet" href="~/sitetema/css/ionicons.min.css">

    <link rel="stylesheet" href="~/sitetema/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/sitetema/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/sitetema/css/flaticon.css">
    <link rel="stylesheet" href="~/sitetema/css/icomoon.css">
    <link rel="stylesheet" href="~/sitetema/css/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Car<span>Book</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="@Url.Action("Index","Site")" class="nav-link">Anasayfa</a></li>
                    <li class="nav-item"><a href="@Url.Action("Pricing","Site")" class="nav-link">Kampanyalar</a></li>
                    <li class="nav-item"><a href="@Url.Action("Cars","Site")" class="nav-link">Arabalar</a></li>
                    <li class="nav-item"><a href="@Url.Action("Contact","Site")" class="nav-link">İletişim</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">AdminTema</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="@Url.Action("Index","Araclar")">Araçlar</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index","Islemler")">İşlemler</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index","Kampanyalar")">Kampanyalar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../sitetema/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Anasayfa <i class="ion-ios-arrow-forward"></i></a></span> <span>Arabalar <i class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">Arabalar</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url('../sitetema/images/C3.jpg');">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">Citroen C3 </a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Cheverolet</span>
                                <p class="price ml-auto">500 TL <span>/Gün</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Şimdi Rezervasyon Yap</a> <a href="@Url.Action("CarsDetails","Site")" class="btn btn-secondary py-2 ml-1">Detay</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url('../sitetema/images/Peugout-3008.jpg');">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">Peugout 3008</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Subaru</span>
                                <p class="price ml-auto">800TL <span>/Gün</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Şimdi Rezervasyon Yap</a> <a href="@Url.Action("CarsDetails","Site")" class="btn btn-secondary py-2 ml-1">Detay</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url('../sitetema/images/Peugout-508.jpg');">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">Peugout 508</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Cheverolet</span>
                                <p class="price ml-auto">750 TL <span>/Gün</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Şimdi Rezervasyon Yap</a> <a "@Url.Action("CarsDetails","Site")" class="btn btn-secondary py-2 ml-1">Detay</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url('../sitetema/images/Mercedes-Amg.jpeg');">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">Mercedes AMG</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Cheverolet</span>
                                <p class="price ml-auto">1500 TL <span>/Gün</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Şimdi Rezervasyon Yap</a> <a href="@Url.Action("CarsDetails","Site")" class="btn btn-secondary py-2 ml-1">Detay</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url('../sitetema/images/Ford-Ranger.jpg');">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">Ford Range Raptor</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Subaru</span>
                                <p class="price ml-auto">2000 TL <span>/Gün</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Şimdi Rezervasyon Yap</a> <a href="car-single.html" class="btn btn-secondary py-2 ml-1">Detay</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url('../sitetema/images/Renault-Clıo.png');">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">Renault Clıo</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Cheverolet</span>
                                <p class="price ml-auto">600 TL <span>/Gün</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Şimdi Rezervasyon Yap</a> <a href="@Url.Action("CarsDetails","Site")" class="btn btn-secondary py-2 ml-1">Detay</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url('../sitetema/images/Hundai-Elantra.jpg');">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">Hundai Elantra</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Cheverolet</span>
                                <p class="price ml-auto">700 TL <span>/Gün</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Şimdi Rezervasyon Yap</a> <a href="@Url.Action("CarsDetails","Site")" class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url('../sitetema/images/DaciaDuster.jpg');">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">Dacia Duster</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Subaru</span>
                                <p class="price ml-auto">750 TL <span>/Gün</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Şimdi Rezervasyon Yap</a> <a href="@Url.Action("CarsDetails","Site")" class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url('../sitetema/images/Toyota-Chr.png');">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">Toyota CHR</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">Cheverolet</span>
                                <p class="price ml-auto">650 TL<span>/Gün</span></p>
                            </div>
                            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Şimdi Rezervasyon Yap</a> <a href="@Url.Action("CarsDetails","Site")" class="btn btn-secondary py-2 ml-1">Details</a></p>
                        </div>
                    </div>
                </div>

              
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>book</span></a></h2>
                        <p></p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Kurumsal</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Hakkında</a></li>
                            <li><a href="#" class="py-2 d-block">Hizmetler</a></li>
                            <li><a href="#" class="py-2 d-block">Şartlar ve Koşullar</a></li>
                            <li><a href="#" class="py-2 d-block">En İyi Fiyat Garantisi</a></li>
                            <li><a href="#" class="py-2 d-block">Gizlilik ve Çerez Politikası</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Müşteri Desteği</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">SSS</a></li>
                            <li><a href="#" class="py-2 d-block">Ödeme Seçeneği</a></li>
                            <li><a href="#" class="py-2 d-block">Rezervasyon İpuçları</a></li>
                            <li><a href="#" class="py-2 d-block">Nasıl Çalışır</a></li>
                            <li><a href="#" class="py-2 d-block">Bize Ulaşın</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">İletişim</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">İstanbul,Turkey</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">0(212) 392 39 21</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/sitetema/js/jquery.min.js"></script>
    <script src="~/sitetema/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/sitetema/js/popper.min.js"></script>
    <script src="~/sitetema/js/bootstrap.min.js"></script>
    <script src="~/sitetema/js/jquery.easing.1.3.js"></script>
    <script src="~/sitetema/js/jquery.waypoints.min.js"></script>
    <script src="~/sitetema/js/jquery.stellar.min.js"></script>
    <script src="~/sitetema/js/owl.carousel.min.js"></script>
    <script src="~/sitetema/js/jquery.magnific-popup.min.js"></script>
    <script src="~/sitetema/js/aos.js"></script>
    <script src="~/sitetema/js/jquery.animateNumber.min.js"></script>
    <script src="~/sitetema/js/bootstrap-datepicker.js"></script>
    <script src="~/sitetema/js/jquery.timepicker.min.js"></script>
    <script src="~/sitetema/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/sitetema/js/google-map.js"></script>
    <script src="~/sitetema/js/main.js"></script>

</body>
</html>