<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carbook - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/sitetema/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/sitetema/css/animate.css">

    <link rel="stylesheet" href="~/sitetema/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/sitetema/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/sitetema/css/magnific-popup.css">

    <link rel="stylesheet" href="~/sitetema/css/aos.css">

    <link rel="stylesheet" href="~/sitetema/css/ionicons.min.css">

    <link rel="stylesheet" href="~/sitetema/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/sitetema/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/sitetema/css/flaticon.css">
    <link rel="stylesheet" href="~/sitetema/css/icomoon.css">

    <link href="~/sitetema/css/style.css" rel="stylesheet" />

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Car<span>Book</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="@Url.Action("Index","Site")" class="nav-link">Anasayfa</a></li>
                    <li class="nav-item"><a href="@Url.Action("Pricing","Site")" class="nav-link">Kampanyalar</a></li>
                    <li class="nav-item"><a href="@Url.Action("Cars","Site")" class="nav-link">Arabalar</a></li>
                    <li class="nav-item"><a href="@Url.Action("Contact","Site")" class="nav-link">İletişim</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">AdminTema</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="@Url.Action("Index","Araclar")">Araçlar</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index","Islemler")">İşlemler</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index","Kampanyalar")">Kampanyalar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <div class="hero-wrap ftco-degree-bg" style="background-image: url('../sitetema/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
                <div class="col-lg-8 ftco-animate">
                    <div class="text w-100 text-center mb-md-5 pb-md-5">
                        <h1 class="mb-4">Araba Kiralamanın Hızlı Ve Kolay Yolu</h1>
                       
                        <a href="https://vimeo.com/45830194" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="ion-ios-play"></span>
                            </div>
                            <div class="heading-title ml-5">
                                <span>Araç Kiralamak İçin Kolay Adımlar</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12	featured-top">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">
                            <form action="#" class="request-form ftco-animate bg-primary">
                                <h2>Seyahatini Planla</h2>
                                <div class="form-group">
                                    <label for="" class="label">Arac Seçimi</label>
                                    <input type="text" class="form-control" placeholder="Model">
                                </div>
                                <div class="form-group">
                                    <label for="" class="label">Alış Yeri</label>
                                    <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
                                </div>
                                <div class="form-group">
                                    <label for="" class="label">Bırakma Yeri</label>
                                    <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
                                </div>
                                <div class="d-flex">
                                    <div class="form-group mr-2">
                                        <label for="" class="label">Alış Tarihi</label>
                                        <input type="text" class="form-control" id="book_pick_date" placeholder="Date">
                                    </div>
                                    <div class="form-group ml-2">
                                        <label for="" class="label">Bırakma Tarihi</label>
                                        <input type="text" class="form-control" id="book_off_date" placeholder="Date">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="label">Alma Vakti</label>
                                    <input type="text" class="form-control" id="time_pick" placeholder="Time">
                                </div>
                                <div class="form-group">
                                    <label for="" class="label">Bırakma Vakti</label>
                                    <input type="text" class="form-control" id="time_pick" placeholder="Time">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Hemen Araç Kiralayın" class="btn btn-secondary py-3 px-4">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="services-wrap rounded-right w-100">
                                <h3 class="heading-section mb-4">Araçlarınızı Kiralamanın Daha İyi Yolu</h3>
                                <div class="row d-flex mb-4">
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Alım Konumunuzu Seçin</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">En İyi Fırsatı Seçin</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Kiralık Aracınızı Rezerve Edin</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p><a href="#" class="btn btn-primary py-3 px-4">Aracınızı Rezerve Edin</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                    <span class="subheading">TEKLİFİMİZ</span>
                    <h2 class="mb-2">Öne Çıkan Araçlar</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-car owl-carousel">
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded d-flex align-items-end" style="background-image: url('../sitetema/images/C3.jpg');">
                                </div>
                                <div class="text">
                                    <h2 class="mb-0"><a href="#">Citroen C3</a></h2>
                                    <div class="d-flex mb-3">
                                        <span class="cat">Turkuvaz</span>
                                        <p class="price ml-auto">500 TL<span>/Gün</span></p>
                                    </div>
                                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Şimdi Rezervasyon Yap</a> <a href="#" class="btn btn-secondary py-2 ml-1">Detay</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded d-flex align-items-end" style="background-image: url('../sitetema/images/Peugout-3008.jpg');">
                                </div>
                                <div class="text">
                                    <h2 class="mb-0"><a href="#">Peugout 3008</a></h2>
                                    <div class="d-flex mb-3">
                                        <span class="cat">Bordo</span>
                                        <p class="price ml-auto">800 TL <span>/Gün</span></p>
                                    </div>
                                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Şimdi Rezervasyon Yap</a> <a href="#" class="btn btn-secondary py-2 ml-1">Detay</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded d-flex align-items-end" style="background-image: url('../sitetema/images/Mercedes-Amg.jpeg');">
                                </div>
                                <div class="text">
                                    <h2 class="mb-0"><a href="#">Mercedes AMG</a></h2>
                                    <div class="d-flex mb-3">
                                        <span class="cat">Cheverolet</span>
                                        <p class="price ml-auto">1500 TL <span>/Gün</span></p>
                                    </div>
                                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Şimdi Rezervasyon Yap</a> <a href="#" class="btn btn-secondary py-2 ml-1">Detay</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded d-flex align-items-end" style="background-image: url('../sitetema/images/Peugout-508.jpg');">
                                </div>
                                <div class="text">
                                    <h2 class="mb-0"><a href="#">Peugout 508</a></h2>
                                    <div class="d-flex mb-3">
                                        <span class="cat">Cheverolet</span>
                                        <p class="price ml-auto">750 TL <span>/Gün</span></p>
                                    </div>
                                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Şimdi Rezervasyon Yap</a> <a href="#" class="btn btn-secondary py-2 ml-1">Detay</a></p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-about">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('../sitetema/images/about.jpg');">
                </div>
                <div class="col-md-6 wrap-about ftco-animate">
                    <div class="heading-section heading-section-white pl-md-5">
                        <span class="subheading">Hakkımızda</span>
                        <h2 class="mb-4">Carbook'a Hoş Geldiniz</h2>

                        <p>CarBook markasını, diğer global ve kurumsal araç kiralama şirketlerinden ayrıştıran en önemli özelliği, tamamen müşterilerinin konforu ve mutluluğu düşünülerek geliştirilen teknolojik altyapısıdır..</p>
                        <p>CarBook, araç kiralama sürecinin her adımında güven ve destek sağlıyor. Müşterinin tüm beklentilerini göz önünde bulundurarak ürün ve hizmetlerini geliştiren CarBook, araç kiralayan müşterinin ihtiyaç duyabileceği her konuda teknolojiyi kullanarak, beklentilerin üzerinde hizmet sunmayı hedefliyor.</p>
                       @* <p><a href="#" class="btn btn-primary py-3 px-4">Search Vehicle</a></p>*@
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Hizmetler</span>
                    <h2 class="mb-3">Son Hizmetlerimiz</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Evlilik Töreni</h3>
                            <p>Mutluluğunuza eşlik etmek...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Şehir Transferi</h3>
                            <p>Şehirler arası seyahetinizde...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Havaalanı Transferi</h3>
                            <p>Seyahatlerinizde size eşlik eder...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="services services-2 w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Şehir Turu</h3>
                            <p>Şehri tanımanıza eşlik eder...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-intro" style="background-image: url('../sitetema/images/bg_3.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6 heading-section heading-section-white ftco-animate">
                    <h2 class="mb-3">Bizimle Seyahate Hazır Mısınız ?</h2>
                    <a href="#" class="btn btn-primary btn-lg">Şimdi Zamanı</a>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section testimony-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Referanslar</span>
                    <h2 class="mb-3">Mutlu Müşteriler</h2>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel ftco-owl">
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url('../sitetema/images/bloom.jpg')">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">Sitenin kullanım kolaylıgını cok begendim, seyahatimde bana eşlik eden Mercedes AMG'den memnun kaldım teşekkürler Carbook.</p>
                                    <p class="name">Nurbanu Eroğlu</p>
                                    <span class="position">Yazılım Mühendisi</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url('../sitetema/images/Yasemin.png')">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">Şehir turu yapmamda bana eşlik eden Citroen C3 aracından çok memnun kaldım,herhangi bir sıkıntı yaşamadan seyahatimi tamamladım.</p>
                                    <p class="name">Yasemin Yavuz</p>
                                    <span class="position">Yazılım mühendisliği ve Fen Öğretmeni</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url('../sitetema/images/Melisa.png')">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">Şehirler arası seyahatimi Peugout 3008 modelle gerçekleştirdim, kolaylıkla araca ulaşım sağlayıp iade ettim , teşekkürler Carbook sayenizde keyifli bi seyahatdi..</p>
                                    <p class="name">Melisa Örün</p>
                                    <span class="position">Bilgisayar Mühendisi</span>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-counter ftco-section img bg-light" id="section-counter">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number" data-number="60">0</strong>
                            <span><br>Tecrübe Yılı</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number" data-number="1090">0</strong>
                            <span>Toplam<br>Araba</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number" data-number="2590">0</strong>
                            <span>Mutlu<br>Müşteriler</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text d-flex align-items-center">
                            <strong class="number" data-number="67">0</strong>
                            <span>Toplam<br>Şube Sayısı</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>book</span></a></h2>
                        <p></p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Kurumsal</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Hakkında</a></li>
                            <li><a href="#" class="py-2 d-block">Hizmetler</a></li>
                            <li><a href="#" class="py-2 d-block">Şartlar ve Koşullar</a></li>
                            <li><a href="#" class="py-2 d-block">En İyi Fiyat Garantisi</a></li>
                            <li><a href="#" class="py-2 d-block">Gizlilik ve Çerez Politikası</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Müşteri Desteği</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">SSS</a></li>
                            <li><a href="#" class="py-2 d-block">Ödeme Seçeneği</a></li>
                            <li><a href="#" class="py-2 d-block">Rezervasyon İpuçları</a></li>
                            <li><a href="#" class="py-2 d-block">Nasıl Çalışır</a></li>
                            <li><a href="#" class="py-2 d-block">Bize Ulaşın</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">İletişim</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">İstanbul,Turkey</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">0(212) 392 39 21</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/sitetema/js/jquery.min.js"></script>
    <script src="~/sitetema/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/sitetema/js/popper.min.js"></script>
    <script src="~/sitetema/js/bootstrap.min.js"></script>
    <script src="~/sitetema/js/jquery.easing.1.3.js"></script>
    <script src="~/sitetema/js/jquery.waypoints.min.js"></script>
    <script src="~/sitetema/js/jquery.stellar.min.js"></script>
    <script src="~/sitetema/js/owl.carousel.min.js"></script>
    <script src="~/sitetema/js/jquery.magnific-popup.min.js"></script>
    <script src="~/sitetema/js/aos.js"></script>
    <script src="~/sitetema/js/jquery.animateNumber.min.js"></script>
    <script src="~/sitetema/js/bootstrap-datepicker.js"></script>
    <script src="~/sitetema/js/jquery.timepicker.min.js"></script>
    <script src="~/sitetema/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/sitetema/js/google-map.js"></script>
    <script src="~/sitetema/js/main.js"></script>

</body>
</html>

